<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="col-sm-5">
        <div class="page-header">
            <h1>Signup</h1>
        </div>

        <form method="post" th:action="@{/user_management_app/signup}" th:object="${signupForm}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">User ID</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{userId}" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="active">Password</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{password}" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="active">UserName</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{userName}" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="active">Birthday</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="active">Age</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{age}" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="active">Marriage</th>
                    <td>
                        <div class="form-group">
                            <div th:each="item : ${marriage}">
                                <input type="radio" name="marriage" th:text="${item.key}" th:value="${item.value}" th:field="*{marriage}" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <ul>
                <li th:each="error : ${#fields.detailedErrors()}">
                    <span th:text="${error.message}">Error Message</span>
                </li>
            </ul>

            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</body>
</html>
